# Ignore database migrations (but keep __init__.py)
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc

# Ignore virtual environment
venv/

# Ignore pycache
__pycache__/
*.pyc

# Ignore Django secret key COMMENT OUT IF PUBLISHING PUBLICLY!!!
# backend/backend_project/settings.py

db.sqlite3
