# Ignore database migrations (but keep __init__.py)
#**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc

# Ignore virtual environment
venv/

# Ignore pycache
__pycache__/
*.pyc

db.sqlite3

# Ignore logs
**/logs/*
backend/logs
